---
import MainLayout from "./MainLayout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
const base = "/OpenCyberNews";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <MainLayout>
      <slot />
    </MainLayout>
  </body>
</html>

<style is:global>
  @import "../styles/global.css";
</style>
